Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/bootstrap, area/addons

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"

chore(container): update image quay.io/prometheus/alertmanager to 625574d
  kubernetes/cluster-0/apps/monitoring/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/syncthing/syncthing to v1.27.0
  kubernetes/cluster-0/apps/default/syncthing/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 0834f92
  kubernetes/cluster-0/apps/monitoring/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(container): update image public.ecr.aws/docker/library/busybox to 1ceb872
  kubernetes/cluster-0/apps/default/obsidian-livesync/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image portainer/portainer-ce to v2.19.4
  kubernetes/cluster-0/apps/default/portainer/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image public.ecr.aws/docker/library/couchdb to v3.3.3
  kubernetes/cluster-0/apps/default/obsidian-livesync/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image public.ecr.aws/docker/library/haproxy to v2.9.0
  kubernetes/cluster-0/apps/database/mariadb-lb/app/helmrelease.yaml
  kubernetes/cluster-0/apps/database/redis/lb/helmrelease.yaml
  kubernetes/cluster-0/apps/default/ldap-lb/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/tailscale/tailscale to v1.54.1
  kubernetes/cluster-0/apps/downloads/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.36
  kubernetes/cluster-0/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.4+k3s1
  kubernetes/cluster-0/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/cluster-0/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat(helm)!: Update chart traefik to 26.0.0
  kubernetes/cluster-0/apps/networking/traefik/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/cluster-0/apps/networking/traefik/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.2.1
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image thanos to v12.16.2
  kubernetes/cluster-0/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/shenxn/protonmail-bridge to v3.7.1
  kubernetes/cluster-0/apps/default/proton-bridge/app/helmrelease.yaml
Labels: area/kubernetes

Update LB
  kubernetes/cluster-0/apps/database/mariadb-lb/app/helmrelease.yaml
  kubernetes/cluster-0/apps/database/redis/lb/helmrelease.yaml
Labels: area/kubernetes

Update readme.md
  kubernetes/main/templates/volsync/readme.md
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/database/redis/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/database/mariadb-lb/ks.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/database/redis/ks.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/database/cloudnative-pg/ks.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/database/redis/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/backup/volsync/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/backup/volsync/app/helmrelease.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/vpn/pod-gateway/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/vpn/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

Change System Upgrade Controller and Ceph
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/main/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/main/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/main/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/main/apps/kube-system/system-upgrade-controller/plans/server.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/apps/system-upgrade/kustomization.yaml
  kubernetes/main/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/flux-system/addons/ks.yaml
Labels: area/kubernetes

chore(container): update image docker.io/cyfershepard/jellystat to bf50c33
  .archive/kubernetes/apps/media/jellystat/app/helmrelease.yaml
Labels: none

chore(container): update image ghcr.io/autobrr/autobrr to fd1d9b3
  .archive/kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: none

Change Alert-Manager
  kubernetes/main/apps/monitoring/alert-manager/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/alert-manager/app/kustomization.yaml
  kubernetes/main/apps/monitoring/alert-manager/ks.yaml
Labels: area/kubernetes
