Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/renovate, area/taskfile, cluster/main, cluster/utility, docker/ext01, docker/komodo, docker/nas01

fix(apprise): needs root
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): more rights
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): needs write filesystem
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): more ram
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): moooore ram
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): to many workers
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): set to ipv4 only
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): wrong gatus url
  kubernetes/main/apps/default/apprise/ks.yaml
Labels: area/kubernetes, cluster/main

fix(apprise): now less ram
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: use cephConfig
  .github/workflows/helm-repository-sync.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/github, area/kubernetes, cluster/main

chore(bootstrap): update helm file
  kubernetes/shared/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

fix(ceph): try these
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ceph): this should work
  kubernetes/main/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: reorganize helmfile flux apps
  kubernetes/main/apps/flux-system/flux-instance/app/github-webhook/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/github-webhook/ingress.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/github-webhook/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/github-webhook/receiver.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/helm/kustomizeconfig.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/helm/values.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/helmrelease.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-instance/app/prometheusrule.yaml
  kubernetes/main/apps/flux-system/flux-instance/ks.yaml
  kubernetes/main/apps/flux-system/kustomization.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/utility/apps/flux-system/flux-instance/instance/helm/kustomizeconfig.yaml
  kubernetes/utility/apps/flux-system/flux-instance/instance/helm/values.yaml
  kubernetes/utility/apps/flux-system/flux-instance/instance/helmrelease.yaml
  kubernetes/utility/apps/flux-system/flux-instance/instance/kustomization.yaml
  kubernetes/utility/apps/flux-system/flux-instance/instance/prometheusrule.yaml
  kubernetes/utility/apps/flux-system/flux-instance/ks.yaml
  kubernetes/utility/apps/flux-system/flux-operator/ks.yaml
  kubernetes/utility/apps/kube-system/cilium/ks.yaml
  kubernetes/utility/apps/kube-system/coredns/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

instance
  kubernetes/shared/bootstrap/apps/helmfile.yaml
Labels: area/kubernetes

fix(taskfile): try that
  .taskfiles/talos/Taskfile.yaml
Labels: area/taskfile

fix(bootstrap): update paths
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix(talos): update config to
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  kubernetes/main/bootstrap/.cluster.env
  kubernetes/main/bootstrap/talos/192.168.254.81.sops.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.81.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.82.sops.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.82.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.83.sops.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.83.yaml.j2
  kubernetes/utility/bootstrap/.cluster.env
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/utility

fix: bootstrap
  .taskfiles/bootstrap/Taskfile.yaml
Labels: area/taskfile

fix(talos): remove sops part
  kubernetes/main/bootstrap/talos/192.168.254.83.yaml.j2
Labels: area/kubernetes, cluster/main

fix(talos): migrate utility to op
  kubernetes/utility/bootstrap/talos/192.168.254.89.sops.yaml.j2
  kubernetes/utility/bootstrap/talos/192.168.254.89.yaml.j2
Labels: area/kubernetes, cluster/utility

fix(talos): wrong env
  kubernetes/main/bootstrap/talos/192.168.254.81.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.82.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.83.yaml.j2
  kubernetes/utility/bootstrap/talos/192.168.254.89.yaml.j2
Labels: area/kubernetes, cluster/main, cluster/utility

add mise config file
  .sops.yaml
  mise.toml
Labels: none

fix(talos): delete cluster.env
  .taskfiles/bootstrap/Taskfile.yaml
  .taskfiles/externalsecrets/Taskfile.yaml
  .taskfiles/kubernetes/Taskfile.yaml
  .taskfiles/sops/Taskfile.yaml
  .taskfiles/talos/Taskfile.yaml
  .taskfiles/volsync/Taskfile.yaml
  .taskfiles/workstation/Taskfile.yaml
  kubernetes/main/apps/system/system-upgrade-controller/ks.yaml
  kubernetes/main/bootstrap/.cluster.env
  kubernetes/shared/bootstrap/apps/resources/secrets.yaml.tpl
  kubernetes/utility/apps/system/system-upgrade-controller/ks.yaml
  kubernetes/utility/bootstrap/.cluster.env
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/utility

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/utility:
  - changed-files:
      - any-glob-to-any-file: kubernetes/utility/**/*
# Docker
docker/ext01:
  - changed-files:
      - any-glob-to-any-file: docker/ext01/**/*
docker/komodo:
  - changed-files:
      - any-glob-to-any-file: docker/komodo/**/*
docker/nas01:
  - changed-files:
      - any-glob-to-any-file: docker/nas01/**/*
