Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/renovate, area/taskfile, cluster/main, cluster/utility, docker/ext01, docker/komodo, docker/nas01

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/utility:
  - changed-files:
      - any-glob-to-any-file: kubernetes/utility/**/*
# Docker
docker/ext01:
  - changed-files:
      - any-glob-to-any-file: docker/ext01/**/*
docker/komodo:
  - changed-files:
      - any-glob-to-any-file: docker/komodo/**/*
docker/nas01:
  - changed-files:
      - any-glob-to-any-file: docker/nas01/**/*

Update helm-repository-sync.yaml
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

fix(teleport): change to ldap lb
  kubernetes/main/apps/security/teleport/agent/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(teleport): add sid
  kubernetes/main/apps/security/teleport/agent/helmrelease.yaml
Labels: area/kubernetes, cluster/main

feat(arc): use native secret value
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(arc): set depends on
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/externalsecret.yaml
Labels: area/kubernetes, cluster/main

Change Secret
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix: cleanup
  kubernetes/main/apps/kube-system/cilium/ks.yaml
  kubernetes/main/apps/system/generic-device-plugin/ks.yaml
  kubernetes/main/apps/system/intel-device-plugin/ks.yaml
  kubernetes/main/apps/system/node-feature-discovery/ks.yaml
  kubernetes/main/apps/system/system-upgrade-controller/ks.yaml
  kubernetes/utility/apps/kube-system/cilium/ks.yaml
  kubernetes/utility/apps/system/node-feature-discovery/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

fix(volsync): only check source volsync
  kubernetes/main/apps/storage/volsync/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

chore(prometheus): chomp newlines on rules
  kubernetes/main/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusRule.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/prometheusrule.yaml
  kubernetes/main/apps/monitoring/smartctl-exporter/app/prometheusrule.yaml
  kubernetes/main/apps/monitoring/snmp-exporter/app/prometheusrule.yaml
  kubernetes/utility/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/utility/apps/cert-manager/cert-manager/app/prometheusRule.yaml
  kubernetes/utility/apps/flux-system/flux-operator/instance/prometheusrule.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

Update and rename prometheusRule.yaml to prometheusrule.yaml
  kubernetes/main/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/main

Update and rename prometheusRule.yaml to prometheusrule.yaml
  kubernetes/utility/apps/cert-manager/cert-manager/app/prometheusrule.yaml
Labels: area/kubernetes, cluster/utility

fix(stirling-pdf): update locale
  kubernetes/main/apps/default/stirling-pdf/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(komodo): add deploy job
  docker/komodo/procedures.toml
Labels: docker/komodo

fix(komodo): update stacks
  docker/komodo/stacks.toml
Labels: docker/komodo

fix(komodo): remove repo
  docker/komodo/procedures.toml
  docker/komodo/repos.toml
Labels: docker/komodo

fix(komodo): fix path
  docker/komodo/syncs.toml
Labels: docker/komodo

Revert "fix(komodo): fix path"
  docker/komodo/syncs.toml
Labels: docker/komodo

feat(piped): archive
  .archive/kubernetes/apps/media/piped/app/externalsecret.yaml
  .archive/kubernetes/apps/media/piped/app/helmrelease.yaml
  .archive/kubernetes/apps/media/piped/app/kustomization.yaml
  .archive/kubernetes/apps/media/piped/ks.yaml
  kubernetes/main/apps/database/crunchy-pgo/cluster/cluster.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

feat(ganymede): deploy
  kubernetes/main/apps/media/ganymede/app/externalsecret.yaml
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
  kubernetes/main/apps/media/ganymede/app/kustomization.yaml
  kubernetes/main/apps/media/ganymede/ks.yaml
  kubernetes/main/apps/media/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): change settings
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): remove that
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): add tmp
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): needs to run as root
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): add PUID and PGID
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): needs writable filesystem
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): does not work with pgbouncer
  kubernetes/main/apps/media/ganymede/app/externalsecret.yaml
Labels: area/kubernetes, cluster/main

chore: disable automerge for ganymede
  .github/renovate/autoMerge.json5
Labels: area/github

fix(ganymede): change temp to nas
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(ganymede): add metrics endpoint
  kubernetes/main/apps/media/ganymede/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(komodo): delete some stacks
  docker/komodo/stacks.toml
Labels: docker/komodo

Aktualisieren von helmrelease.yaml
  kubernetes/main/apps/default/proton-bridge/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: update emqx cluster healthcheckexprs
  kubernetes/main/apps/database/emqx/ks.yaml
Labels: area/kubernetes, cluster/main

chore(flux): simplify github receiver
  kubernetes/main/apps/flux-system/flux-operator/instance/github-webhook/receiver.yaml
Labels: area/kubernetes, cluster/main

chore: update pre-pull images workflow for new flux-local version
  .github/workflows/pre-pull-images.yaml
Labels: area/github

chore: update talos config files
  kubernetes/main/bootstrap/talos/192.168.254.81.sops.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.82.sops.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.83.sops.yaml.j2
  kubernetes/utility/bootstrap/talos/192.168.254.89.sops.yaml.j2
Labels: area/kubernetes, cluster/main, cluster/utility

feat(recyclarr): deploy
  kubernetes/main/apps/media/kustomization.yaml
  kubernetes/main/apps/media/recyclarr/app/externalsecret.yaml
  kubernetes/main/apps/media/recyclarr/app/helmrelease.yaml
  kubernetes/main/apps/media/recyclarr/app/kustomization.yaml
  kubernetes/main/apps/media/recyclarr/app/resources/recyclarr.yml
  kubernetes/main/apps/media/recyclarr/ks.yaml
Labels: area/kubernetes, cluster/main

fix(recyclarr): change name
  kubernetes/main/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

fix(recyclarr): set correct quality profiles
  kubernetes/main/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

fix(recyclarr): add all arrs
  kubernetes/main/apps/media/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes, cluster/main

feeat(apprise): deploy
  kubernetes/main/apps/default/apprise/app/helmrelease.yaml
  kubernetes/main/apps/default/apprise/app/kustomization.yaml
  kubernetes/main/apps/default/apprise/ks.yaml
  kubernetes/main/apps/default/kustomization.yaml
Labels: area/kubernetes, cluster/main
