Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/docs, area/github, area/kubernetes, area/renovate, area/taskfile, cluster/main, cluster/utility, docker/ext01, docker/komodo, docker/nas01

.github/labeler.yaml:

---
# Area
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: .github/**/*
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: kubernetes/**/*
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
# Cluster
cluster/main:
  - changed-files:
      - any-glob-to-any-file: kubernetes/main/**/*
cluster/utility:
  - changed-files:
      - any-glob-to-any-file: kubernetes/utility/**/*
# Docker
docker/ext01:
  - changed-files:
      - any-glob-to-any-file: docker/ext01/**/*
docker/komodo:
  - changed-files:
      - any-glob-to-any-file: docker/komodo/**/*
docker/nas01:
  - changed-files:
      - any-glob-to-any-file: docker/nas01/**/*

fix(bootstrap): remove bash script
  .taskfiles/bootstrap/Taskfile.yaml
  kubernetes/main/bootstrap/.cluster.env
  kubernetes/main/bootstrap/talos/192.168.254.81.sops.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.82.sops.yaml.j2
  kubernetes/main/bootstrap/talos/192.168.254.83.sops.yaml.j2
  kubernetes/shared/bootstrap/apps/helmfile.yaml
  kubernetes/shared/bootstrap/apps/resources/prepare.sh
  kubernetes/utility/bootstrap/.cluster.env
  kubernetes/utility/bootstrap/talos/192.168.254.89.sops.yaml.j2
Labels: area/kubernetes, area/taskfile, cluster/main, cluster/utility

fix(komodo): poll for updates
  docker/komodo/stacks.toml
Labels: docker/komodo

fix(komodo): poll for updates
  docker/komodo/stacks.toml
Labels: docker/komodo

fix(twitch-live): does not work with cap drop
  docker/nas01/apps/twitch-live/compose.yaml
Labels: docker/nas01

feat(logging): single loki
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/main/apps/monitoring/loki/app/objectbucketclaim.yaml
  kubernetes/main/apps/monitoring/loki/ks.yaml
  kubernetes/main/apps/monitoring/promtail/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

Aktualisieren von .cluster.env
  kubernetes/main/bootstrap/.cluster.env
Labels: area/kubernetes, cluster/main

Aktualisieren von .cluster.env
  kubernetes/utility/bootstrap/.cluster.env
Labels: area/kubernetes, cluster/utility

fix(irbalance): update settings
  kubernetes/main/apps/system/irqbalance/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore: update flux instance renovate annotation
  kubernetes/main/apps/flux-system/flux-operator/instance/helm-values.yaml
  kubernetes/utility/apps/flux-system/flux-operator/instance/helm-values.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

fix(loki): alerting
  kubernetes/main/apps/downloads/prowlarr/app/kustomization.yaml
  kubernetes/main/apps/downloads/prowlarr/app/lokirule.yaml
  kubernetes/main/apps/home/zigbee2mqtt/app/kustomization.yaml
  kubernetes/main/apps/home/zigbee2mqtt/app/lokirule.yaml
  kubernetes/main/apps/media/plex/app/kustomization.yaml
  kubernetes/main/apps/media/plex/app/lokirule.yaml
  kubernetes/main/apps/media/radarr/app-4k/kustomization.yaml
  kubernetes/main/apps/media/radarr/app-4k/lokirule.yaml
  kubernetes/main/apps/media/radarr/app/kustomization.yaml
  kubernetes/main/apps/media/radarr/app/lokirule.yaml
  kubernetes/main/apps/media/sonarr/app-4k/kustomization.yaml
  kubernetes/main/apps/media/sonarr/app-4k/lokirule.yaml
  kubernetes/main/apps/media/sonarr/app-kids/kustomization.yaml
  kubernetes/main/apps/media/sonarr/app-kids/lokirule.yaml
  kubernetes/main/apps/media/sonarr/app/kustomization.yaml
  kubernetes/main/apps/media/sonarr/app/lokirule.yaml
  kubernetes/main/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/main/apps/monitoring/loki/app/rules/loki-alerting-rules.yaml
Labels: area/kubernetes, cluster/main

fix(silence-operator): update silence
  kubernetes/main/apps/monitoring/silence-operator/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(flux): add healthcheckexprs
  kubernetes/main/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/main/apps/database/emqx/ks.yaml
  kubernetes/main/apps/networking/traefik/ks.yaml
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
  kubernetes/main/apps/security/onepassword/ks.yaml
  kubernetes/utility/apps/cert-manager/cert-manager/ks.yaml
  kubernetes/utility/apps/networking/traefik/ks.yaml
  kubernetes/utility/apps/security/onepassword/ks.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

chore(cilium): remove default tolerations to fix ContainerStatusUnknown
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/utility/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main, cluster/utility

fix: try that
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

revert: netbox database change
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix: loki wrong namespace
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/promtail/app/helmrelease.yaml
Labels: area/kubernetes, cluster/main

chore(rook): use not equals lol
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

chore(workflows): update to new workflows for main only
  .github/workflows/flux-diff.yaml
  .github/workflows/flux-hr-sync.yaml
  .github/workflows/flux-image-test.yaml
  .github/workflows/flux-local.yaml
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/label-sync.yaml
  .github/workflows/labeler.yaml
  .github/workflows/pre-pull-images.yaml
  .github/workflows/renovate.yaml
  .github/workflows/yaml-lint.yaml
Labels: area/github

chore(github): update renovate config
  .github/renovate.json5
  .github/renovate/clusters.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customManagers.json5
  .github/renovate/grafanaDashboards.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
Labels: area/github

fix(workflow): update paths
  .github/workflows/flux-local.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

fix: copy paste error
  .github/workflows/helm-repository-sync.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

chore(github): fix workflow
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/flux-local.yaml
  .github/workflows/pre-pull-images.yaml
Labels: area/github

chore(github): update workflows
  .github/workflows/helm-repository-sync.yaml
Labels: area/github

chore: update flux receiver, provider and alert names
  kubernetes/main/apps/flux-system/flux-operator/instance/github-webhook/externalsecret.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github-webhook/ingress.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github-webhook/kustomization.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/github-webhook/receiver.yaml
  kubernetes/main/apps/flux-system/flux-operator/instance/kustomization.yaml
  kubernetes/main/apps/system/descheduler/app/helmrelease.yaml
  kubernetes/shared/meta/components/alerts/github-status/alert.yaml
  kubernetes/shared/meta/components/alerts/github-status/externalsecret.yaml
  kubernetes/shared/meta/components/alerts/github-status/kustomization.yaml
  kubernetes/shared/meta/components/alerts/github-status/provider.yaml
  kubernetes/shared/meta/components/alerts/kustomization.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): add custom css
  kubernetes/main/apps/default/homepage/app/secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): add custom css to helm
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/work/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): add HOMEPAGE_ALLOWED_HOSTS
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
  kubernetes/main/apps/default/homepage/work/helmrelease.yaml
Labels: area/kubernetes, cluster/main

fix(homepage): change secret
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

Update secret.sops.yaml
  kubernetes/main/apps/default/homepage/work/secret.sops.yaml
Labels: area/kubernetes, cluster/main

chore(ceph): update health check expression
  kubernetes/main/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes, cluster/main

fix: actions-runner-controller change ENV
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/home-ops/helmrelease.yaml
Labels: area/kubernetes, cluster/main
