Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/bootstrap, area/addons

fix(container): update image docker.io/sissbruecker/linkding to v1.22.1
  kubernetes/cluster-0/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.5
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/cluster-0/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image docker.io/tombursch/kitchenowl to v80
  kubernetes/cluster-0/apps/default/kitchenowl/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/pairdrop to 198d7c6
  kubernetes/cluster-0/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 09ddc88
  kubernetes/cluster-0/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 880e6e6
  kubernetes/cluster-0/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.2.3992
  kubernetes/cluster-0/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/drag0n141/docker-socks5 to f6a31f9
  kubernetes/cluster-0/apps/downloads/socks-proxy/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.3.4013
  kubernetes/cluster-0/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.3
  kubernetes/cluster-0/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/freshrss to b1e7531
  kubernetes/cluster-0/apps/default/freshrss/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/rdesktop to fce8b56
  kubernetes/cluster-0/apps/default/rdesktop/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.4.0
  kubernetes/cluster-0/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/louislam/uptime-kuma to v1.23.3
  kubernetes/cluster-0/apps/monitoring/uptime-kuma/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.4
  kubernetes/cluster-0/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/linuxserver/pairdrop to v1.8.3
  kubernetes/cluster-0/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.3
  kubernetes/cluster-0/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Create yaml-lint.yaml
  .github/workflows/yaml-lint.yaml
Labels: area/github

Create .yamllint.yaml
  .yamllint.yaml
Labels: none

Update settings.yaml
  kubernetes/cluster-0/apps/default/homepage/app/config/settings.yaml
Labels: area/kubernetes

Update yaml-lint.yaml
  .github/workflows/yaml-lint.yaml
Labels: area/github

Create flux-differ.yaml
  .github/workflows/flux-differ.yaml
Labels: area/github

Update flux-differ.yaml
  .github/workflows/flux-differ.yaml
Labels: area/github

fix(container): update image thanos to v12.13.8
  kubernetes/cluster-0/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): pin ibiqlik/action-yamllint action to
  .github/workflows/yaml-lint.yaml
Labels: area/github

Update flux-differ.yaml
  .github/workflows/flux-differ.yaml
Labels: area/github

Update flux-differ.yaml
  .github/workflows/flux-differ.yaml
Labels: area/github

Rename flux-differ.yaml to flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

Update flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

Update flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

Change Homepage Config
  kubernetes/cluster-0/apps/default/homepage/app/config/bookmarks.yaml
  kubernetes/cluster-0/apps/default/homepage/app/config/docker.yaml
  kubernetes/cluster-0/apps/default/homepage/app/config/kubernetes.yaml
  kubernetes/cluster-0/apps/default/homepage/app/config/services.yaml
  kubernetes/cluster-0/apps/default/homepage/app/config/settings.yaml
  kubernetes/cluster-0/apps/default/homepage/app/config/widgets.yaml
  kubernetes/cluster-0/apps/default/homepage/app/configmap.yaml
  kubernetes/cluster-0/apps/default/homepage/app/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/cluster-0/apps/default/ferdium/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.9
  kubernetes/cluster-0/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/autobrr to 25d12f5
  kubernetes/cluster-0/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.5.1
  kubernetes/cluster-0/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Update flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(helm): update chart reloader to 1.0.43
  kubernetes/cluster-0/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/cluster-0/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/cluster-0/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/cluster-0/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
