Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/bootstrap, area/addons

Update Monitoring Category
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/grafana/ks.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-state-metrics/ks.yaml
  kubernetes/main/apps/monitoring/node-exporter/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/node-exporter/ks.yaml
  kubernetes/main/apps/monitoring/snmp-exporter/app/apc-ups/helmrelease.yaml
  kubernetes/main/apps/monitoring/snmp-exporter/app/kustomization.yaml
  kubernetes/main/apps/monitoring/snmp-exporter/ks.yaml
  kubernetes/main/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/thanos/app/kustomization.yaml
  kubernetes/main/apps/monitoring/thanos/ks.yaml
  kubernetes/main/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/unpoller/app/kustomization.yaml
  kubernetes/main/apps/monitoring/unpoller/ks.yaml
  kubernetes/main/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/uptime-kuma/app/kustomization.yaml
  kubernetes/main/apps/monitoring/uptime-kuma/app/volsync.yaml
  kubernetes/main/apps/monitoring/uptime-kuma/ks.yaml
Labels: area/kubernetes

Update Media
  kubernetes/main/apps/media/moviematch/app/helmrelease.yaml
  kubernetes/main/apps/media/moviematch/ks.yaml
  kubernetes/main/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/media/overseerr/app/kustomization.yaml
  kubernetes/main/apps/media/overseerr/app/volsync.yaml
  kubernetes/main/apps/media/overseerr/ks.yaml
  kubernetes/main/apps/monitoring/alert-manager/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/kube-prometheus-stack/ks.yaml
  kubernetes/main/apps/monitoring/kube-state-metrics/ks.yaml
  kubernetes/main/apps/monitoring/node-exporter/ks.yaml
  kubernetes/main/apps/monitoring/snmp-exporter/ks.yaml
  kubernetes/main/apps/monitoring/thanos/ks.yaml
  kubernetes/main/apps/monitoring/unpoller/ks.yaml
  kubernetes/main/apps/monitoring/uptime-kuma/app/helmrelease.yaml
  kubernetes/main/apps/monitoring/uptime-kuma/ks.yaml
Labels: area/kubernetes

Update kube-system
  kubernetes/main/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/cilium/ks.yaml
  kubernetes/main/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/coredns/ks.yaml
  kubernetes/main/apps/kube-system/csi-driver-nfs/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/csi-driver-nfs/ks.yaml
  kubernetes/main/apps/kube-system/kube-vip/ks.yaml
  kubernetes/main/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/local-path-provisioner/ks.yaml
  kubernetes/main/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/metrics-server/ks.yaml
  kubernetes/main/apps/kube-system/reflector/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/reflector/ks.yaml
  kubernetes/main/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/reloader/ks.yaml
  kubernetes/main/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

Update downloads
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
  kubernetes/main/apps/downloads/prowlarr/ks.yaml
  kubernetes/main/apps/downloads/socks-proxy/app/helmrelease.yaml
  kubernetes/main/apps/downloads/socks-proxy/ks.yaml
  kubernetes/main/apps/downloads/tailscale/app/helmrelease.yaml
  kubernetes/main/apps/downloads/tailscale/ks.yaml
Labels: area/kubernetes

Update networking
  kubernetes/main/apps/downloads/socks-proxy/app/helmrelease.yaml
  kubernetes/main/apps/downloads/tailscale/app/helmrelease.yaml
  kubernetes/main/apps/media/overseerr/app/helmrelease.yaml
  kubernetes/main/apps/networking/adguard/app/helmrelease.yaml
  kubernetes/main/apps/networking/adguard/app/kustomization.yaml
  kubernetes/main/apps/networking/adguard/app/pvc.yaml
  kubernetes/main/apps/networking/adguard/app/volsync.yaml
  kubernetes/main/apps/networking/adguard/ks.yaml
  kubernetes/main/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/main/apps/networking/external-dns/app/helmrelease.yaml
  kubernetes/main/apps/networking/external-dns/ks.yaml
  kubernetes/main/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/main/apps/networking/k8s-gateway/ks.yaml
  kubernetes/main/apps/networking/smtp-relay/app/helmrelease.yaml
  kubernetes/main/apps/networking/smtp-relay/ks.yaml
  kubernetes/main/apps/networking/traefik/app/helmrelease.yaml
  kubernetes/main/apps/networking/traefik/ks.yaml
  kubernetes/main/apps/networking/unifi-controller/app/helmrelease.yaml
  kubernetes/main/apps/networking/unifi-controller/app/kustomization.yaml
  kubernetes/main/apps/networking/unifi-controller/app/volsync.yaml
  kubernetes/main/apps/networking/unifi-controller/ks.yaml
  kubernetes/main/apps/networking/whoami/app/helmrelease.yaml
  kubernetes/main/apps/networking/whoami/ks.yaml
Labels: area/kubernetes

Update haproxy.cfg
  kubernetes/main/apps/database/mariadb-lb/app/config/haproxy.cfg
Labels: area/kubernetes

Update haproxy.cfg
  kubernetes/main/apps/default/ldap-lb/app/config/haproxy.cfg
Labels: area/kubernetes

Update ks.yaml
  kubernetes/main/apps/default/ldap-lb/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/default/ldap-lb/app/helmrelease.yaml
Labels: area/kubernetes

Update readme.md
  kubernetes/main/templates/volsync/readme.md
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/netbox to 5f08550
  kubernetes/main/apps/default/netbox/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 62c1830
  kubernetes/main/apps/monitoring/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

Update first Apps
  kubernetes/main/apps/default/adguardhome-sync/app/helmrelease.yaml
  kubernetes/main/apps/default/adguardhome-sync/app/kustomization.yaml
  kubernetes/main/apps/default/adguardhome-sync/ks.yaml
  kubernetes/main/apps/default/app-2fauth/app/helmrelease.yaml
  kubernetes/main/apps/default/app-2fauth/app/kustomization.yaml
  kubernetes/main/apps/default/app-2fauth/app/volsync.yaml
  kubernetes/main/apps/default/app-2fauth/ks.yaml
  kubernetes/main/apps/default/atuin/app/helmrelease.yaml
  kubernetes/main/apps/default/atuin/app/kustomization.yaml
  kubernetes/main/apps/default/atuin/ks.yaml
  kubernetes/main/apps/default/authelia/app/helmrelease.yaml
  kubernetes/main/apps/default/authelia/app/kustomization.yaml
  kubernetes/main/apps/default/authelia/ks.yaml
  kubernetes/main/apps/default/authentik/app/helmrelease.yaml
  kubernetes/main/apps/default/authentik/ks.yaml
  kubernetes/main/apps/default/bookstack-wiki/app/helmrelease.yaml
  kubernetes/main/apps/default/bookstack-wiki/app/kustomization.yaml
  kubernetes/main/apps/default/bookstack-wiki/app/volsync.yaml
  kubernetes/main/apps/default/bookstack-wiki/ks.yaml
  kubernetes/main/apps/default/bookstack/app/helmrelease.yaml
  kubernetes/main/apps/default/bookstack/app/kustomization.yaml
  kubernetes/main/apps/default/bookstack/app/volsync.yaml
  kubernetes/main/apps/default/bookstack/ks.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/main/apps/default/ldap-lb/app/kustomization.yaml
Labels: area/kubernetes

Update PostgreSQL to Version 16
  kubernetes/main/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/main/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/main/apps/database/mariadb-lb/app/kustomization.yaml
  kubernetes/main/apps/database/redis/app/kustomization.yaml
  kubernetes/main/apps/database/redis/lb/kustomization.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/bookstack to 15f63a1
  kubernetes/main/apps/default/bookstack-wiki/app/helmrelease.yaml
  kubernetes/main/apps/default/bookstack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/adguard/adguardhome to v0.107.42
  kubernetes/main/apps/networking/adguard/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/roundcube/roundcubemail to v1.6.5
  .archive/kubernetes/apps/default/roundcube/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.10
  .archive/kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: none

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update helmrelease.yaml
  kubernetes/main/apps/networking/whoami/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/media/moviematch/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/media/moviematch/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/monitoring/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/monitoring/uptime-kuma/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Add Spegel
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/xenitab.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/main/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 197db0f
  kubernetes/main/apps/monitoring/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image quay.io/prometheus/alertmanager to 8b7bb9c
  kubernetes/main/apps/monitoring/alert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v55.1.0
  kubernetes/main/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 7640a36
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/sissbruecker/linkding to v1.23.1
  kubernetes/main/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/drag0n141/docker-socks5 to 8e2fcf2
  kubernetes/main/apps/downloads/socks-proxy/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/linuxserver/pairdrop to 305a046
  kubernetes/main/apps/default/pairdrop/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/claabs/epicgames-freegames-node to 9a6b1a8
  kubernetes/main/apps/default/epicgames/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/claabs/epicgames-freegames-node to 4f5a523
  kubernetes/main/apps/default/epicgames/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.11.0.4128
  kubernetes/main/apps/downloads/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/usememos/memos to v0.18.0
  kubernetes/main/apps/default/memos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/gethomepage/homepage to v0.8.3
  kubernetes/main/apps/default/homepage/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
