Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/bootstrap, area/addons

Add Mailrise
  kubernetes/apps/default/mailrise/app/config/mailrise.yaml
  kubernetes/apps/default/mailrise/app/helmrelease.yaml
  kubernetes/apps/default/mailrise/app/kustomization.yaml
  kubernetes/apps/default/mailrise/app/secret.sops.yaml
  kubernetes/apps/default/mailrise/ks.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/default/mailrise/app/secret.sops.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update cluster-settings.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Rename mailrise.yaml to mailrise.conf
  kubernetes/apps/default/mailrise/app/config/mailrise.conf
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/mailrise/app/kustomization.yaml
Labels: area/kubernetes

Update cluster-settings.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/mailrise/app/helmrelease.yaml
Labels: area/kubernetes

Add Shlink
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/kustomization.yaml
  kubernetes/apps/default/shlink/app/secret.sops.yaml
  kubernetes/apps/default/shlink/ks.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/default/shlink/app/secret.sops.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/default/shlink/app/secret.sops.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/default/shlink/app/secret.sops.yaml
Labels: area/kubernetes

Add Shlink Web
  kubernetes/apps/default/shlink/ks.yaml
  kubernetes/apps/default/shlink/web/helmrelease.yaml
  kubernetes/apps/default/shlink/web/kustomization.yaml
  kubernetes/apps/default/shlink/web/secret.sops.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/default/shlink/web/secret.sops.yaml
Labels: area/kubernetes

Update ks.yaml
  kubernetes/apps/default/shlink/ks.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/shlink/web/helmrelease.yaml
Labels: area/kubernetes

Update secure.yaml
  kubernetes/apps/networking/traefik/addons/middlewares/secure.yaml
Labels: area/kubernetes

Update secure.yaml
  kubernetes/apps/networking/traefik/addons/middlewares/secure.yaml
Labels: area/kubernetes

Update chains.yaml
  kubernetes/apps/networking/traefik/addons/middlewares/chains.yaml
Labels: area/kubernetes

Update secure.yaml
  kubernetes/apps/networking/traefik/addons/middlewares/secure.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

Update secure.yaml
  kubernetes/apps/networking/traefik/addons/middlewares/secure.yaml
Labels: area/kubernetes

Add Linkding
  kubernetes/apps/default/linkding/app/helmrelease.yaml
  kubernetes/apps/default/linkding/app/kustomization.yaml
  kubernetes/apps/default/linkding/app/secret.sops.yaml
  kubernetes/apps/default/linkding/ks.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/default/linkding/app/secret.sops.yaml
Labels: area/kubernetes

Add Linkding
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/default/linkding/app/secret.sops.yaml
Labels: area/kubernetes

Delete archive/kubernetes/apps/default/linkace directory
  archive/kubernetes/apps/default/linkace/app/helmrelease.yaml
  archive/kubernetes/apps/default/linkace/app/kustomization.yaml
  archive/kubernetes/apps/default/linkace/app/secret.sops.yaml
  archive/kubernetes/apps/default/linkace/ks.yaml
Labels: none

Add Secret
  kubernetes/apps/default/linkding/app/secret.sops.yaml
Labels: area/kubernetes

Change Secret
  kubernetes/apps/default/dashy/app/config/conf.sops.yml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/wizarrrr/wizarr to v3
  kubernetes/apps/media/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

Update renovate.json5
  .github/renovate.json5
Labels: area/github

Update renovate.json5
  .github/renovate.json5
Labels: area/github

feat(container): update image docker.io/sissbruecker/linkding to v1.21.0
  kubernetes/apps/default/linkding/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v17.17.1
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update renovatebot/github-action action to v39.0.3
  .github/workflows/renovate.yaml
Labels: area/github

feat(container)!: Update image redis to v18
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/database/redis/lb/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
