Repository drag0n141/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/bootstrap, area/addons

Add Headscale OIDC
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

Change Secret
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/kubernetes

Update config.yaml
  kubernetes/apps/vpn/headscale/app/config/config.yaml
Labels: area/kubernetes

Update config.yaml
  kubernetes/apps/vpn/headscale/app/config/config.yaml
Labels: area/kubernetes

Update config.yaml
  kubernetes/apps/vpn/headscale/app/config/config.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.4
  .github/workflows/renovate.yaml
Labels: area/github

Headscale to Archive
  archive/kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  archive/kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  archive/kubernetes/apps/kube-system/descheduler/ks.yaml
  archive/kubernetes/apps/vpn/headscale/app/config/config.yaml
  archive/kubernetes/apps/vpn/headscale/app/helmrelease.yaml
  archive/kubernetes/apps/vpn/headscale/app/kustomization.yaml
  archive/kubernetes/apps/vpn/headscale/app/volsync.yaml
  archive/kubernetes/apps/vpn/headscale/ks.yaml
  archive/kubernetes/apps/vpn/headscale/web/helmrelease.yaml
  archive/kubernetes/apps/vpn/headscale/web/kustomization.yaml
Labels: none

Headsacle to Archive
  archive/kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: none

Change Config
  kubernetes/apps/default/dashy/app/config/conf.sops.yml
Labels: area/kubernetes

Add Tailscale
  kubernetes/apps/downloads/tailscale/app/helmrelease.yaml
  kubernetes/apps/downloads/tailscale/app/kustomization.yaml
  kubernetes/apps/downloads/tailscale/app/rbac.yaml
  kubernetes/apps/downloads/tailscale/app/secret.sops.yaml
  kubernetes/apps/downloads/tailscale/ks.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/downloads/tailscale/app/secret.sops.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/downloads/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/downloads/tailscale/app/kustomization.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/downloads/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/downloads/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

Update rbac.yaml
  kubernetes/apps/downloads/tailscale/app/rbac.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/downloads/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/downloads/tailscale/app/helmrelease.yaml
Labels: area/kubernetes

Update rbac.yaml
  kubernetes/apps/downloads/tailscale/app/rbac.yaml
Labels: area/kubernetes

fix(container): update image docker.io/cloudflare/cloudflared to v2023.8.2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tibdex/github-app-token action to v1.8.1
  .github/workflows/renovate.yaml
Labels: area/github

Update mailrise.conf
  kubernetes/apps/default/mailrise/app/config/mailrise.conf
Labels: area/kubernetes

Add Autobrr
  kubernetes/apps/downloads/autobrr/app/config/config.toml
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
  kubernetes/apps/downloads/autobrr/app/kustomization.yaml
  kubernetes/apps/downloads/autobrr/app/secret.sops.yaml
  kubernetes/apps/downloads/autobrr/ks.yaml
Labels: area/kubernetes

Add Secret
  kubernetes/apps/downloads/autobrr/app/secret.sops.yaml
Labels: area/kubernetes

Update kustomization.yaml
  kubernetes/apps/downloads/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/dani-garcia/vaultwarden to v1.29.2
  kubernetes/apps/default/vaultwarden/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.3
  kubernetes/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.5
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-action): update tibdex/github-app-token action to v1.8.2
  .github/workflows/renovate.yaml
Labels: area/github

fix(helm): update rook-ceph group to v1.12.3
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/vpn/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/vpn/pod-gateway/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/goauthentik/server to v2023.8.2
  kubernetes/apps/default/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart authentik to 2023.8.2
  kubernetes/apps/default/authentik/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.12.4
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/autobrr to c705f6c
  kubernetes/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/flaresolverr/flaresolverr to v3.3.4
  kubernetes/cluster-0/apps/media/flaresolverr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/tarampampam/error-pages to v2.25.0
  kubernetes/cluster-0/apps/networking/traefik/addons/error-pages/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/autobrr/autobrr to 37f41f4
  kubernetes/cluster-0/apps/downloads/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
  - "bootstrap/templates/ansible/**/*"
  - "bootstrap/tasks/ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
  - "bootstrap/templates/kubernetes/**/*"
  - "bootstrap/tasks/kubernetes/**/*"
area/bootstrap:
  - "bootstrap/**/*"
  - "bootstrap/configure.yaml"
area/addons:
  - "bootstrap/templates/addons/**/*"
  - "bootstrap/tasks/addons/**/*"
  - "bootstrap/vars/addons.sample.yaml"
